@page
@model WebAppRazorPages.Pages.EditUserModel
@{
}

<form method="post">
    <p>ID_CAR: @Model?.User?.Id_car</p>
    <label for="BrandCar">Марка ТС</label>
    <input asp-for="User.BrandCar" type="text" id_car="BrandCar" brandcar="BrandCar"><span asp-validation-for="BrandCar"></span>
    <h1></h1>
    <label for="Model">Модель ТС</label>
    <input  asp-for="User.Model" type="text" id_car="Model" brandcar="Model"><span asp-validation-for="Model"></span>
    <h2></h2>
    <label for="EngineCar">Тип двигателя</label>
    <input asp-for="User.EngineCar" type="text" id_car="EngineCar" brandcar="EngineCar"><span asp-validation-for="EngineCar"></span>
    <button type="submit">Сохранить</button>
</form>