@page
@model WebAppRazorPages.Pages.EditCarModel
@{
}

<form method="post">
    <p>Id: @Model?.Car?.Id</p>
    <label for="BrandCar">Марка ТС</label>
    <input asp-for="Car.BrandCar" type="text" Id="BrandCar" brandcar="BrandCar"><span asp-validation-for="BrandCar"></span>
    <h1></h1>
    <label for="Model">Модель ТС</label>
    <input  asp-for="Car.Model" type="text" Id="Model" brandcar="Model"><span asp-validation-for="Model"></span>
    <h2></h2>
    <label for="EngineCar">Тип двигателя</label>
    <input asp-for="Car.EngineCar" type="text" Id="EngineCar" brandcar="EngineCar"><span asp-validation-for="EngineCar"></span>
    <button type="submit">Сохранить</button>
</form>