@page
@model WebAppRazorPages.Pages.UserModel
@{
}

<h1>Свойства ТС</h1>
<p>ID_CAR: @Model.User.Id_car</p>
<p>BrandCar: @Model.User.BrandCar</p>
<p>Model: @Model.User.Model</p>
<p>EngineCar: @Model.User.EngineCar</p>
